@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'),
    url(../fonts/Droid_Sans/DroidSans.woff2) format('woff2'),
    url(../fonts/Droid_Sans/DroidSans.woff) format('woff'),
    url(../fonts/Droid_Sans/DroidSans.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url(../fonts/Roboto/Roboto-Thin.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-Thin.woff) format('woff'),
    url(../fonts/Roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url(../fonts/Roboto/Roboto-Light.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-Light.woff) format('woff'),
    url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');

}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url(../fonts/Roboto/Roboto-Regular.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-Regular.woff) format('woff'),
    url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url(../fonts/Roboto/Roboto-Bold.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-Bold.woff) format('woff'),
    url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url(../fonts/Roboto/Roboto-Italic.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-Italic.woff) format('woff'),
    url(../fonts/Roboto/Roboto-Italic.ttf) format('truetype');
}