#informatie {
	background-color: $main-bg-color;
	padding: 10px 45px 10px 35px;

	h4 {
		margin-top: 30px;
		color: $secondary-color;
	}

	p {
		text-align: justify;
	}

	ul {
		padding-left: 0px;

		li {
			list-style-type: circle;
		}

	}

}
