.over {
  background-color: #6e8c2c;
  color: #ffffff;
  padding-left: 30px;

  h4 {
    margin-top: 24px;
    margin-bottom: 4px;
  }

  img#gefixt {
    float: right;
  }

  p {
    color: #C1DC87;
  }
}
