#programma {
  background-color: white;
	padding-bottom: 80px;

	h2 {
		padding: 10px 35px;
	}

	h3 {
		padding-left: 40px;
		padding-bottom: 10px;
		margin-top: 45px;
		margin-bottom: 0;
		border-bottom: 1px solid #eee;
		color: $secondary-color;
	}

	h5 {
		margin-top: 0;
		margin-bottom: 5px;
	}

	.programmaItem {
		background-color: white;
		border-bottom: 1px solid #eee;

		a.row {
			padding-top: 15px;
			display: block;
			color: inherit;
		}

		.clickable {
			cursor: pointer;
		}
		.clickable:active {
			background-color: $secondary-color !IMPORTANT;
			color: white !IMPORTANT;

			.tijd {
				color: white;
			}
			.omschrijving {
				.beschrijving {
					color: #e4bec1;
				}
			}
			.plaats {
				color: #e08e95;
			}
		}

		.tijd {
			color: #000;
			text-align: right;
			font-style: italic;
			font-size: 95%;
		}

		.omschrijving {
			.beschrijving {
				font-size: 85%;
				color: #666;
			}
		}
	}

	.subitems-container {
		.programmaSubitem {
			overflow: hidden;
			padding: 5px 12px;
			width: 31%;
			margin-bottom: 10px;
			background-color: #efefef;
			color: #555;
			/*font-family: 'Droid Sans', sans-serif;*/
			font-size: 12px;

			.plaats {
				font-size: 10px;
			}
		}
	}


}
