img.sfeer {
  width: 100%;
}

.startpagina {
  min-height: 100%;
  padding: 30px 30px 100px;

  #vc {

    h3 {
      margin-top: 45px;
      color: $secondary-color;

      small {
        color: #457967;
        font-size: 62%;
      }
    }

    .quote {
    }

    p {
      color: $dark-text;
      text-align: justify;
      font-style: italic;
    }
  }



}
