#map {
  position: absolute;
  top: 48px;
  bottom: 0;
  width: 100%;
}

.map-label {
	font-size: 9px;
	color: white;
	text-shadow:1px 1px #000000;
	width: 65px  !IMPORTANT;
	margin-left: -32.5px !IMPORTANT;
	text-align: center;
}