$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$main-color: #c4d545;
$main-color-dark : #95A234;
$secondary-color: #f07d00;
$menu-color: #333333;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import "start.scss";
@import "programma.scss";
@import "kaart.scss";
@import "informatie.scss";

/* Space out content a bit */
body {  
  padding-bottom: 20px;
  background-color: $menu-color;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  min-height: 0;
}
.navbar-fixed-top {
  border-width: 0;
}


.header {  
  padding-left: 10px;
  padding-right: 10px;
  background-color: $main-color;
  height: 48px;
  border: none;  
  box-shadow: 0px 5px 12px 0px rgba(130, 130, 130, 0.4);

  button.navbar-toggle {
    border: none;

    &:hover, &:focus {
      background-color: $main-color-dark;
    }
  }

  a.navbar-brand {    
    color: white;    
    &:hover {
      text-decoration: none;
    }
  }
}

#content {
  padding-top: 48px;
  background-color: white;
  box-shadow: 5px 12px 0px 0px rgba(50, 50, 50, 0.5);
}

h2 {
  font-weight: 700;
}

#sidemenu {
  padding: 78px 5px 20px;
  background-color: $menu-color;
  color: #f0f0f0;

  img {
    padding: 10px 5px 10px 30px;
  }

  ul {
    margin-top: 25px;
    padding-left: 0px;

    li {
      font-size: 24px;    
      font-weight: 100;
      list-style-type: none;
      padding: 0;

      a {
        color: white;
        display: block;
        padding: 12px 10px 12px 30px;

        &:focus, &:hover {
          text-decoration: none;
        }
        &:active {
          background-color: #404040;
          color: $secondary-color;
        }
      }

    }

    li.active a {
      color: $main-color;
    }
  }
}



