$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$main-color: #c4d545;
$main-color-dark : #95A234;
$secondary-color: #f07d00;
$menu-color: #333333;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {  
  padding-bottom: 20px;
  background-color: $menu-color;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  min-height: 0;
}
.navbar-fixed-top {
  border-width: 0;
}


.header {  
  padding-left: 10px;
  padding-right: 10px;
  background-color: $main-color;
  height: 48px;
  border: none;  
  box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.5);
  
  /*-ms-transform: skewY(-1.4deg); 
  -webkit-transform: skewY(-1.4deg); 
  transform: skewY(-1.4deg);
  margin-top: -8px;
  padding-top: 7px;
  height: 55px;*/

  button.navbar-toggle {
    border: none;

    &:hover, &:focus {
      background-color: $main-color-dark;
    }
  }

  a.navbar-brand {    
    color: white;    
    &:hover {
      text-decoration: none;
    }
  }
}

#sidemenu {
  padding: 195px 5px 20px;
  background: $menu-color url('../images/menu/logo_medium.png') no-repeat 45px 85px; /*left top*/
  color: #f0f0f0;

  ul {
    margin-top: 25px;
    padding-left: 0px;

    li {
      font-size: 24px;    
      font-weight: 100;
      list-style-type: none;
      padding: 0;

      a {
        color: white;
        display: block;
        padding: 12px 10px 12px 30px;

        &:focus, &:hover {
          text-decoration: none;
        }
      }

    }

    li.active a {
      color: $main-color;
    }
  }
}

#content {
  padding-top: 48px;
  background-color: white;
  box-shadow: 5px 12px 0px 0px rgba(50, 50, 50, 0.5);
}

img.sfeer {
  width: 100%;
}

.startpagina {
  background-color: black;
  color: #eee;
  min-height: 100%;
  padding: 30px 30px 60px;
}


.container-narrow > hr {
  margin: 30px 0;
}

h2 {
  font-weight: 700;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
