$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {  
  padding-top: 48px;
  padding-bottom: 20px;
}

.navbar {
  min-height: 0;
}
.navbar-fixed-top {
  border-width: 0;
}


.header {  
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #7c901f;
  height: 48px;
  border: none;  
  box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.3);

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 10px;
    font-weight: normal;    

    a {
      color: white;
      background: none;
      margin-left: 0;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .nav-pills > li > a {
    color: #c8d400;
    text-indent: -99999px;
    background: transparent url('../images/menu/calendar.png') no-repeat 50% 50%;
    height: 48px;
    width: 48px;
    border-radius: 0;
    padding: 8px 8px;
  }

  a > img {
    height: 32px;
    width: 32px;
  }

  .nav-pills > li > a:focus {
    background-color: #c8d400
  }


  a#mnu-programma { background-image: url('../images/menu/calendar.png'); }
  a#mnu-kaart { background-image: url('../images/menu/map.png'); }

  .nav-pills > li + li {
    margin-left: 6px;
  }

  .nav-pills > li > a:hover {
      background-color: transparent;
  }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #c8d400;
  }
}

img.sfeer {
  width: 100%;
}

.startpagina {
  background-color: black;
  color: #eee;
  min-height: 100%;
  padding: 30px 30px 60px;
}

/* Custom page footer */
.footer {  
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 19px;
  color: #c8d400;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
