.programma {
	h2 {
		color: white;
	}

	.programmaItem {
		background-color: white;
		margin-bottom: 4px;
	}

	.programmaSubitem {
		padding: 5px;
		background-color: #ddd;
		width: 30%;
		margin-bottom: 5px;
	}
}