<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="be.scoutsengidsenvlaanderen.hogids"
        version="1.1.2">

  <name>HO</name>

  <description>
    De digitale gids voor Herfstontmoeting, het startweekend voor alle leiding van Scouts en Gidsen Vlaanderen
  </description>

  <author href="http://www.scoutsengidsenvlaanderen.be" email="tim@vanlaer.net">
    Tim Van Laer voor Scouts en Gidsen Vlaanderen
  </author>

  <content src="www/index.html"/>

  <!-- Customize your app and platform with the preference element. -->
  <preference name="phonegap-version" value="cli-5.2.0"/>      <!-- all: current version of PhoneGap -->
  <preference name="orientation" value="default"/>        <!-- all: default means both landscape and portrait are enabled -->
  <preference name="target-device" value="universal"/>      <!-- all: possible values handset, tablet, or universal -->
  <preference name="webviewbounce" value="true"/>           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
  <preference name="prerendered-icon" value="true"/>           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
  <preference name="stay-in-webview" value="false"/>          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
  <preference name="ios-statusbarstyle" value="black-opaque"/>   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
  <preference name="detect-data-types" value="true"/>           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
  <preference name="exit-on-suspend" value="false"/>          <!-- ios: if set to true, app will terminate when home button is pressed -->
  <preference name="show-splash-screen-spinner" value="true"/>           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
  <preference name="auto-hide-splash-screen" value="true"/>           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
  <preference name="disable-cursor" value="false"/>          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
  <preference name="android-minSdkVersion" value="7"/>              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
  <preference name="android-targetSdkVersion" value="14"/>             <!-- android: target SDK version is 14 to hide menu button in action bar. -->
  <preference name="android-installLocation" value="auto"/>           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->

  <preference name="StatusBarOverlaysWebView" value="false"/>
  <preference name="StatusBarBackgroundColor" value="#003050"/>
  <preference name="StatusBarStyle" value="lightcontent"/>

  <preference name="windows-arch" value="anycpu" />

  <!-- Plugins -->
  <!--<gap:plugin name="org.apache.cordova.inappbrowser"/>
  <gap:plugin name="org.apache.cordova.geolocation"/>
  <gap:plugin name="org.apache.cordova.statusbar"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>-->

  <plugin name="cordova-plugin-inappbrowser"/>
  <plugin name="cordova-plugin-geolocation"/>
  <plugin name="cordova-plugin-statusbar"/>
  <plugin name="cordova-plugin-splashscreen"/>

  <!-- Define app icon for each platform. -->
  <icon src="res/icon/icon_inv.png"/>

  <!-- <access origin="*" /> - a wildcard access tag allows access to all external resource. -->
  <access origin="*"/>

  <!--Splash Screen-->
  <preference name="SplashScreen" value="screen"/>
  <splash src="res/splash/splash.png"/>

  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="SplashShowOnlyFirstTime" value="true" />
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="FadeSplashScreenDuration" value="0"/>


  <platform name="android">
    <icon src="res/icon/android/ldpi.png" density="ldpi"/>
    <icon src="res/icon/android/mdpi.png" density="mdpi"/>
    <icon src="res/icon/android/hdpi.png" density="hdpi"/>
    <icon src="res/icon/android/xhdpi.png" density="xhdpi"/>
    <icon src="res/icon/android/xxhdpi.png" density="xxhdpi"/>

    <splash src="res/splash/android/ldpi.png" density="ldpi"/>
    <splash src="res/splash/android/mdpi.png" density="mdpi"/>
    <splash src="res/splash/android/hdpi.png" density="hdpi"/>
    <splash src="res/splash/android/xhdpi.png" density="xhdpi"/>
  </platform>

  <platform name="ios">
    <!-- iPhone 6 / 6+ -->
    <icon src="res/icon/ios/Icon-60@3x.png" width="180" height="180"/>

    <!-- iPhone / iPod Touch  -->
    <icon src="res/icon/ios/Icon-60.png" width="60" height="60"/>
    <icon src="res/icon/ios/Icon-60@2x.png" width="120" height="120"/>

    <!-- iPad -->
    <icon src="res/icon/ios/Icon-76.png" width="76" height="76"/>
    <icon src="res/icon/ios/Icon-76@2x.png" width="152" height="152"/>

    <!-- Settings Icon -->
    <icon src="res/icon/ios/Icon-Small.png" width="29" height="29"/>
    <icon src="res/icon/ios/Icon-Small@2x.png" width="58" height="58"/>

    <!-- Spotlight Icon -->
    <icon src="res/icon/ios/Icon-Small-40.png" width="40" height="40"/>
    <icon src="res/icon/ios/Icon-Small-40@2x.png" width="80" height="80"/>

    <!-- iPhone / iPod Touch -->
    <icon src="res/icon/ios/Icon.png" width="57" height="57"/>
    <icon src="res/icon/ios/Icon@2x.png" width="114" height="114"/>

    <!-- iPad -->
    <icon src="res/icon/ios/Icon-72.png" width="72" height="72"/>
    <icon src="res/icon/ios/Icon-72@2x.png" width="144" height="144"/>

    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/icon/ios/Icon-small.png" width="29" height="29"/>
    <icon src="res/icon/ios/Icon-small@2x.png" width="58" height="58"/>

    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/icon/ios/Icon-Small-50.png" width="50" height="50"/>
    <icon src="res/icon/ios/Icon-Small-50@2x.png" width="100" height="100"/>

    <splash src="res/splash/ios/Default.png" width="320" height="480"/>
    <splash src="res/splash/ios/Default@2x.png" width="640" height="960"/>
    <splash src="res/splash/ios/Default-568h@2x.png" width="640" height="1136"/>    <!-- iPhone 5 / iPod Touch (5th Generation) -->
  </platform>

  <platform name="winphone">
    <icon src="res/icon/icon_inv.png"/>

    <splash src="res/splash/splash.png"/>
  </platform>

  <!--
    If you do not want any permissions to be added to your app, add the
    following tag to your config.xml; you will still have the INTERNET
    permission on your app, which PhoneGap requires.
  -->
  <preference name="permissions" value="none"/>

  <feature name="SplashScreen">
    <param name="android-package" value="org.apache.cordova.SplashScreen" />
    <param name="ios-package" value="CDVSplashScreen" />
  </feature>

  <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.GeoBroker" />
    <param name="ios-package" value="CDVLocation" />
  </feature>

  <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.NetworkManager" />
    <param name="ios-package" value="CDVConnection" />
  </feature>

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <!--<feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.InAppBrowser" />
    <param name="ios-package" value="CDVInAppBrowser" />
  </feature>-->

</widget>
