<div class="container" id="informatie">

  <h2>Informatie</h2>

  <h4>Infopunt (KKG)</h4>
  <p>Voor al je vragen over het verloop van de organisatie van Herfstontmoeting. Ook het melden en aanbrengen van verloren voorwerpen.</p>
  <p>Telefonisch bereikbaar op <strong>0477 38 24 12</strong></p>
  <p>Openingstijden:</p>
  <ul>
    <li>vrijdag: 22.00 - 02.30</li>
    <li>zaterdag: 09.00 - 02.30</li>
    <li>zondag: 09.00 - 13.00</li>
    <li>zondag: 13.00 - 15.00 via GSM</li>
  </ul>

  <h4>Oplaadpunt gsm en smartphone</h4>
  <p>Er is een oplaadpunt voor je gsm en smartphone aan het infopunt, tijdens de openingsuren.</p>

  <h4>Organisatie</h4>
  <p>Verder kan je terecht bij een &lsquo;organisator&rsquo;. Ze dragen een groene badge en waken over het goede verloop van HO.</p>

  <h4>Noodgeval</h4>
  <p>Ernstige ongevallen &#10095; noodlijn: 0474 14 01 ??</br>
  Verwittig de hulpdiensten nooit rechtstreeks. </p>
  <p ng-click="gaNaarRodeKruis()">Kleine ongevallen &#10095; <span class="glyphicon glyphicon-plus" style="color: #e30613;"></span>  Rode Kruis-post, aan L341</p>

  <h4>Betalen met de kaart?</h4>
  <ul>
    <li>Aankoop jetons &#10095; Centrale bar</li>
    <li>Cash afhalen &#10095; Infopunt</li>
    <li>Winkelen bij Hopper &#10095; Markt op zondag</li>
  <ul>


</div>
