<div class="container">

  <h3>Informatie</h3>

  <h4>Infopunt (KKG)</h4>
  <p>Voor al je vragen over het verloop van de organisatie van Herfstontmoeting. Ook het melden en aanbrengen van verloren voorwerpen.
  Telefonisch bereikbaar op 0477 38 24 12
  Openingstijden
  vrijdag: 22.00 - 02.30
  zaterdag: 09.00 - 02.30
  zondag: 09.00 - 13.00 (enkel via GSM: 13.00 - 15.00)</p>

  <h4>Oplaadpunt gsm en smartphone</h4>
  <p>Er is een oplaadpunt voor je gsm en smartphone aan het infopunt, tijdens de openingsuren.</p>

  <h4>Organisatie</h4>
  <p>Verder kan je terecht bij een ‘organisator’. Ze dragen een groene badge en waken over het goede verloop van HO.</p>

  <h4>Noodgeval</h4>
  <p>Ernstige ongevallen  noodlijn: 0474 14 01
  Verwittig de hulpdiensten nooit rechtstreeks. </p>
  <p>Kleine ongevallen  Rode Kruis-post, aan L341</p>

  <h4>Betalen met de kaart?</h4>
  <p>Aankoop jetons  Centrale bar
   Cash afhalen  Infopunt
   Winkelen bij Hopper  Markt op zondag</p>


</div>
