<div class="container" id="informatie">

  <h2>Informatie</h2>

  <h4>Infopunt (KKG)</h4>
  <p>Voor al je vragen over het verloop van de organisatie van Herfstontmoeting. Ook voor verloren voorwerpen ben je op het infopunt aan het juiste adres.</p>
  <p>
    <a class="btn btn-info" href="tel:+32477382412"><span class="glyphicon glyphicon-phone-alt"></span> Bel het infopunt</a>
    <a class="btn btn-default" ng-click="showOnMap('infopunt')"><span class="glyphicon glyphicon-map-marker"></span> Toon op kaart</a>
  </p>
  <p>Openingstijden:</p>
  <ul>
    <li>vrijdag: 22.00 - 02.30</li>
    <li>zaterdag: 09.00 - 02.30</li>
    <li>zondag: 09.00 - 13.00</li>
  </ul>

  <h4>Noodgeval</h4>
  <p><em>Verwittig de hulpdiensten nooit rechtstreeks.</em> Bij ernstige ongevallen:<br />
    <a class="btn btn-danger" href="tel:+32474261401"><span class="glyphicon glyphicon-phone-alt"></span> Noodlijn Scouts en Gidsen Vlaanderen</a>
  </p>
  <p>
    Voor kleine ongevallen ga je naar het <span class="glyphicon glyphicon-plus" style="color: #e30613;"></span> Rode Kruis.<br />
    <button class="btn btn-default" ng-click="showOnMap('ehbo')"><span class="glyphicon glyphicon-map-marker"></span> Toon op kaart</button>
  </p>

  <h4>Gratis wifi</h4>
  <p>
    Gratis WIFI op KKG, het wachtwoord is <strong>HO2016</strong>
  </p>
  <p>
    <a class="btn btn-default" ng-click="showOnMap('KKG')"><span class="glyphicon glyphicon-map-marker"></span> Toon KKG op kaart</a>
  </p>

  <h4>Oplaadpunt gsm <span class="glyphicon glyphicon glyphicon-arrow-right"></span> Infopunt</h4>
  <p>Er is een oplaadpunt voor je gsm aan het infopunt, tijdens de openingsuren. <strong>Breng zelf je oplader mee.</strong></p>
  <p><a class="btn btn-default" ng-click="showOnMap('infopunt')"><span class="glyphicon glyphicon-map-marker"></span> Toon infopunt op kaart</a></p>

  <h4>Organisatie</h4>
  <p>Verder kan je terecht bij een &lsquo;organisator&rsquo;. Ze dragen een groene badge en waken over het goede verloop van HO.</p>



  <h4>Betalen met de kaart?</h4>
  <ul>
    <li>Aankoop jetons <span class="glyphicon glyphicon glyphicon-arrow-right"></span> Kassa KKG</li>
    <li>Cash afhalen  <span class="glyphicon glyphicon glyphicon-arrow-right"></span>  Kassa KKG</li>
    <li>Winkelen bij Hopper <span class="glyphicon glyphicon glyphicon-arrow-right"></span> Markt op zondag</li>
  </ul>


</div>
