<div class="container" id="settings">
  <h2>Instellingen</h2>

  <form>
    <div class="form-group">
      <label for="selectGouw">Selecteer jouw gouw: </label>
      <select class="form-control" id="selectGouw" ng-model="gouw" ng-options="'Gouw ' + item.naam for item in gouwen track by item.naam" ng-change="setGouw(gouw)"></select>
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="showOnMap(gouw.grond)"><span class="glyphicon glyphicon-map-marker"></span> Toon gouwgrond op de kaart: {{gouw.grond}}</button>
    </div>
    <div class="form-group new-group">
      <label>Toon jouw huidige locatie op de kaart: </label>
      <div class="btn-group btn-group-lg" role="group">
        <button type="button" class="btn" ng-class="locationEnabled ? 'btn-success' : 'btn-default'"
                ng-click="enableLocation(true)">Aan</button>
        <button type="button" class="btn" ng-class="locationEnabled ? 'btn-default' : 'btn-danger'"
                ng-click="enableLocation(false)">Uit</button>
      </div>
      <p class="help-block">Schakel dit uit om batterij te sparen.</p>
    </div>
  </form>
</div>
