<img src="images/jaarlied/jaarlied.jpg" alt="Jaarlied" class="sfeer" />

<div class="container" id="jaarlied">

  <h2>Jaarlied: Grenzeloos Groeien</h2>

  <p>
    De eerste sjorring met jezelf in de knoop<br/>
    Een simpel kruis, ‘t was rijp voor de sloop<br/>
    Maar je hebt dapper doorgezet <br/>
    En nu sjorren we ons eigen bed <br/>
  </p>
  <p>
    Je eerste dropping liep niet als een trein <br/>
    De weg kwijt in de maneschijn <br/>
    Maar niet gepanikeerd, je hebt één les geleerd <br/>
    Hou je kaart nooit omgekeerd <br/>
  </p>
  <p>
    Hey jij, kom erbij <br/>
    Vallen en opstaan zij aan zij <br/>
    Scouting da’s leren, met prutsen en knoeien <br/>
    Rennen, springen, vliegen, duiken en&hellip;<br/>
    Grenzeloos groeien! <br/>
    Grenzeloos groeien! <br/>
    Grenzeloos groeien! <br/>
    Grenzeloos groeien! <br/>
  </p>
  <p>
    Tien kleine visjes die gingen naar de zee<br/>
    Als kleine kapoen viel dat niet mee <br/>
    Maar nu zingen we ‘t van achter naar voor, samen in koor<br/>
    Zee de naar gingen die visjes kleine tien <br/>
  </p>
  <p>
    Je eerste keer scouts, als een vreemde eend <br/>
    Tien jaar later ben je trotse leeuw <br/>
    Want die totem die is echt, op je lijf geschreven <br/>
    Scouting - Hey! <br/>
    Vrienden voor het leven <br/>
  </p>
  <p>
    Hey jij, kom erbij <br/>
    Vallen en opstaan zij aan zij <br/>
    Scouting da’s leren, met prutsen en knoeien <br/>
    Rennen, springen, vliegen, duiken en&hellip; <br/>
  </p>
  <p>
    Hey jij, kom erbij <br/>
    We groeien zonder grenzen, worden steeds meer wij <br/>
    We roeien zonder riemen, en we voelen ons vrij <br/>
    We zingen en we springen en we zijn zo blij <br/>
    Grenzeloos groeien, groeieloos grenzen <br/>
    Ook al is de regen uit de hemel aan ‘t plenzen <br/>
    We laten ons niet stoppen door weerkundige tendenzen <br/>
    Als een komkommer zonder lenzen <br/>
  </p>
  <p>
    Hey jij, kom erbij <br/>
    Samen doorgaan zij aan zij <br/>
    Hey jij, kom erbij <br/>
    Samen doorgaan zij aan zij <br/>
  </p>
  <p>
    Hey jij, kom erbij <br/>
    Vallen en opstaan zij aan zij <br/>
    Scouting da’s leren, met prutsen en knoeien <br/>
    Rennen, springen, vliegen, duiken <br/>
    Spelen, botsen, samen leren <br/>
    Teddyberen, epibreren <br/>
    Lambriseren, inventeren <br/>
    oli’gamo’dicto’meren <br/>
  </p>
  <p>
    Grenzeloos groeien!
  </p>
  <h3>Muziek</h3>
  <p>
    Gr&#248;eiel&#246;ss Gr&#233;nzen
  </p>

</div>
