<div class="container lr">
  <div class="row">
    <div class="col-xs-12">
        <h2>Leefregels</h2>
        <p>Tijdens Herfstontmoeting verzamelen we met leiders en leidsters en gaan we ervan uit dat gezond verstand in grote dosis aanwezig is om dit weekend goed te laten verlopen. <strong>Enkele vuistregels</strong> moeten dus volstaan. We rekenen erop dat alle deelnemers de wijsheid hebben om volgende zes vuistregels op te volgen.</p>
    </div>
  </div>

  <div class="row leefregels">
    <div class="col-xs-4">
      <img src="images/leefregels/gebod-meedoen-def_medium.jpg" alt="Meedoen!" class="img-responsive" />
      <h5>Neem actief deel aan het programma</h5>
      <p>Als je naar Herfstontmoeting komt, verwachten we dat je tijdig aanwezig bent en meedoet aan het aanbod.</p>
    </div>
    <div class="col-xs-4">
      <img src="images/leefregels/verbod-eigen_drank-def_medium.jpg" alt="Geen eigen drank!" class="img-responsive" />
      <h5>Breng geen eigen drank mee</h5>
      <p>Er is genoeg drank aanwezig en dit aan democratische prijzen. De opbrengst hiervan hebben we nodig.</p>
    </div>
    <div class="col-xs-4">
      <img src="images/leefregels/gebod-respect-def_medium.jpg" alt="Respecteer mens, natuur en het materiaal!" class="img-responsive" />
      <h5>Heb respect voor mensen, natuur en materiaal</h5>
      <p>We gaan collegiaal met elkaar om en hebben eerbied voor het materiaal en onze omgeving.</p>
    </div>
  </div>
  <div class="row leefregels">
    <div class="col-xs-4">
      <img src="images/leefregels/verbod-hier_roken-def_medium.jpg" alt="Rook enkel in de rookzones!" class="img-responsive" />
      <h5>Rook enkel in rookzones</h5>
      <p>Omwille van brand(on)veiligheid is roken en vuur enkel toegelaten op voorziene plaatsen.</p>
    </div>
    <div class="col-xs-4">
      <img src="images/leefregels/gebod-stilte_om_22u-def_medium.jpg" alt="Geen eigen drank!" class="img-responsive" />
      <h5>Nachtrust</h5>
      <p>Vanaf 22u waarderen we onze slapende medemens door stilte op de slaapgronden. Om 3u kruipt iedereen in bed.</p>
    </div>
    <div class="col-xs-4">
      <img src="images/leefregels/verbod-drugs-def_medium.jpg" alt="Scouting = kicken zonder drugs!" class="img-responsive" />
      <h5>Scouting = kicken zonder drugs</h5>
      <p>Als scout of gids ga je verstandig om met roken en drinken.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p><small class="pull-right credits">&copy; Cartoons: Peter Kustermans</small></p>
    </div>
  </div>
</div>
