<div class="container" id="leefregels">

  <h2>Leefregels</h2>

  <p>We rekenen erop dat je de wijsheid hebt om volgende zeven vuistregels op te volgen. Bedankt!</p>

  <div class="image-grid">
    <div class="row">
      <div class="col-xs-6 lr-col">
        <img src="images/leefregels/alcohol.jpg" alt="Je drinkt alcohol met mate" class="img-responsive"/>
        Je drinkt alcohol met mate
      </div>
      <div class="col-xs-6 lr-col">
        <img src="images/leefregels/rookzones.jpg" alt="Je rookt in de rookzones" class="img-responsive"/>
        Je rookt in de rookzones
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 lr-col">
        <img src="images/leefregels/eigendrank.jpg" alt="Je consumeert enkel drank aangeboden door de organisatie" class="img-responsive"/>
        Je consumeert enkel drank aangeboden door de organisatie
      </div>
      <div class="col-xs-6 lr-col">
        <img src="images/leefregels/nachtrust.jpg" alt="Je respecteert de nachtrust van anderen" class="img-responsive"/>
        Je respecteert vanaf 22 uur de nachtrust van anderen
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 lr-col">
        <img src="images/leefregels/respect.jpg" alt="Je toont respect voor mekaar, natuur en materiaal" class="img-responsive"/>
        Je toont respect voor mekaar, natuur en materiaal
      </div>
      <div class="col-xs-6 lr-col">
        <img src="images/leefregels/actie.jpg" alt="Je naamt actief deel aan het programma" class="img-responsive"/>
        Je neemt actief deel aan het programma
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 lr-col">
        <img src="images/leefregels/geendrugs.jpg" alt="Je kickt zonder drugs" class="img-responsive"/>
        Je kickt zonder drugs
      </div>
    </div>
  </div>

  <p>Door je in te schrijven voor herfstontmoeting, ga je akkoord met volgende leefregels.
    Overtreed je de leefregels? Dan zal er een sanctie en natraject volgen.</p>

</div>
