<div class="container">
  
  <h1>Herfstontmoeting 2014</h1>

  <p>Herfstontmoeting is een weekend lang met enkel scouts- en gidsenleiding een avontuur beleven van 29 augustus tot 31 augustus 2014 in de Hoge Rielen in Kasterlee.</p>
  <p>Herfstontmoeting is het startweekend voor alle leiding van Scouts en Gidsen Vlaanderen. Het is een weekend waar:
    <ul>
      <li>het jaarthema voorgesteld wordt</li>
      <li>je nieuwe mensen kan ontmoeten</li>
      <li>je inspiratie kan opdoen</li>
      <li>je kan genieten van een knotsgekke show</li>
      <li>je een streepje muziek kan horen</li>
      <li>je de gouw en je district kan ontmoeten</li>
      <li>je heerlijk leiding kan zijn</li>
    </ul>
  </p>

</div>

