<img src="images/over/beeld.jpg" alt="Over deze app" class="sfeer" />

<div class="over container">
  <h2>Over deze app</h2>

  <img src="images/over/gefixt.png" alt="Gefixt door Scouts en Gidsen!" id="gefixt"/>

  <h4>Ontwikkelaar</h4>
  <p>Tim Van Laer</p>

  <h4>Testers</h4>
  <p>Steven Aerts, Maarten Vanachter, Lucas Flies</p>

  <h4>Foto's</h4>
  <p>Pieter Fillet, Floor Bruggeman, Sabine De Schutter</p>

  <h4>Erg veel dank aan</h4>
  <p>Elise Bartholomeus, Daniel 'Dakke' Peeters, Tessa Versmissen<br/>
    Ploeg en Dienst 'Informatica in Scouting'</p>

  <!--<h4>Broncode</h4>
  <a href="https://github.com/timvlaer/ho-gids">HO gids op Github</a>-->

  <!--<h2>Geef feedback</h2>-->
</div>
