<div id="programma">
<h2>Programma</h2>
<div ng-repeat="dag in programma" class="programma">
	<h3 id="{{dag.dag | lowercase}}">{{dag.dag}}</h3>

	<div class="programmaItem container-fluid" ng-repeat="item in dag.items">

		<a class="row" ng-class="{'clickable':item.plaats && !item.subitems}" ng-click="item.subitems || toonOpKaart(item)">
			<div class="col-xs-4 tijd">
				<p>{{item.start}} <span ng-show="item.stop">- {{item.stop}}</span></p>
			</div>
			<div class="col-xs-8 omschrijving">
				<h5>{{item.titel}} <small class="plaats">{{item.plaats}} <span ng-show="item.plaats && item.plaats.toLowerCase() == 'gouwgrond'">{{gouw.naam}}</span></small></h5>
				<p ng-show="item.beschrijving" class="beschrijving">{{item.beschrijving}}</p>
			</div>
		</a>

		<div class="row" ng-show="item.subitems">
			<div class="col-xs-12">
				<div class="subitems-container" masonry="{gutter:10, transitionDuration: '0s'}" load-images="false">
					<div class="programmaSubitem clickable masonry-brick"
						 ng-repeat="subitem in item.subitems" ng-click="toonOpKaart(subitem)">
						{{subitem.titel}}
						<span class="plaats">[{{subitem.plaats}}]</span>
					</div>
				</div>
			</div>
		</div>

    <ul ng-if="item.opruim === true && gouwAfbraakPlan" class="afbraakplan">
     <li ng-repeat="line in gouwAfbraakPlan">District {{line.district}}: <em>{{line.locatie}}</em></li>
    </ul>

	</div>
</div>
</div>
