<div class="container" id="settings">
  <h2>Instellingen</h2>

  <form class="form-inline">
    <div class="form-group">
      <label for="selectGouw">Selecteer jouw gouw: </label>
      <select class="form-control" id="selectGouw" ng-model="gouw" ng-options="'Gouw ' + item.naam for item in gouwen track by item.naam" ng-change="setGouw(gouw)"></select>
    </div>
  </form>
</div>

<div class="over container">
  <h2>Over deze app</h2>
  <img src="images/instellingen/gefixt.png" alt="Gefixt door Scouts en Gidsen!" id="gefixt"/>
  <h4>Ontwikkelaars en testers</h4>

  <p>Tim Van Laer, Steven Aerts, Maarten Vanachter, Lucas Flies</p>
  <h4>Foto's</h4>

  <p>Pieter Fillet, Floor Bruggeman, Sabine De Schutter</p>
  <h4>Met dank aan</h4>

  <p>Elise Bartholomeus, Daniel 'Dakke' Peeters,<br/>
    Ploeg en Dienst 'Informatica in Scouting'</p>

  <!--<h4>Broncode</h4>
  <a href="https://github.com/timvlaer/ho-gids">HO gids op Github</a>-->

  <!--<h2>Geef feedback</h2>-->
</div>
</div>
